<div id="slider"
     data-controller="slide-over"
     data-action="clipboard:paste@window->slide-over#show keydown.esc->slide-over#hide"
     data-slide-over-target="container"
     class="hidden">

  <div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->

    <div
          data-slide-over-target="backdrop"
          data-transition-enter="ease-in-out duration-500"
          data-transition-enter-start="opacity-0"
          data-transition-enter-end="opacity-100"
          data-transition-leave="ease-in-out duration-500"
          data-transition-leave-start="opacity-100"
          data-transition-leave-end="opacity-0"
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 overflow-hidden">
      <div class="absolute inset-0 overflow-hidden">
        <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">

          <div
                 data-slide-over-target="panel"
                 data-transition-enter="transform transition ease-in-out duration-500 sm:duration-700"
                 data-transition-enter-start="translate-x-full"
                 data-transition-enter-end="translate-x-0"
                 data-transition-leave="transform transition ease-in-out duration-500 sm:duration-700"
                 data-transition-leave-start="translate-x-0"
                 data-transition-leave-end="translate-x-full"
                 class="pointer-events-auto w-screen max-w-md">

            <%= render 'clips/form' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>